################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/src/WindowsFormsApplication1/obj/Debug
/src/WindowsFormsApplication1/bin
